html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #FFF;
    background-color: #D50000;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 4rem;
    margin-bottom: 5px;
}

.text {
    font-size: 1.5rem;
    margin-bottom: 40px;
}
