#lr-banner {
    background-color: #1b5e20;
    color: #fff;
    margin: 0; padding: 0;
}
#lr-banner { text-align: center; }
#lr-banner .lr-row { width: 100% }
#lr-banner img.lr-logo {
    float: left;
    padding-left: 0.5em;
    width: 3rem; height: 3rem;
}
#lr-banner h1.lr-title {
    float: left;
    text-indent: 0.25em;
    line-height: 3rem;
    margin: 0; padding: 0;
    color: #fff;
}

/**
 * Medium
 */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #lr-banner h1.lr-title { line-height: 2.5rem; }
    #lr-banner img.lr-logo { width: 2.5rem; height: 2.5rem; }
    #lr-banner form { line-height: 2.5rem; }
}

/**
 * Small
 */
@media only screen and (max-width: 40em) {
    #lr-banner h1.lr-title { line-height: 2rem; }
    #lr-banner img.lr-logo { display: none; }
    #lr-banner form { display: none;}
}
