#lr-menu-left h2 {
    background-color: #d50000;
    color: #fff;
    margin: 0;
    text-align: center;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.2rem;
    width: 100%;
    display: block;
}
#lr-menu-left ul {
    list-style-type: none;
    padding: 0; margin: 0;
}
#lr-menu-left ul > li {
    min-height: 2.4rem;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-align: center;
    margin: 0;
}
#lr-menu-left ul > li > a:hover,
#lr-menu-left ul > li > a:active,
#lr-menu-left ul > li > a:focus,
#lr-menu-left ul > li.lr-active a {
    cursor: pointer;
    background: #FFEBEE;
    color: #d50000;
}
#lr-menu-left ul > li > a {
    width: 100%; height: 100%;
    text-decoration: none;
    display: block;
}
